:root{
    --corp-color : #F5C542;    
    --corp-color-bg-light : #619d97;
    --corp-color-bg-dark : #619d97;    
}

body{
    height: 100%;
}

.color-corp-soft{
    color: var(--corp-color);
    opacity: 0.75;
}

.color-corp{
    color: var(--corp-color);
}

.bg-color-corp-soft{
    background: var(--corp-color-bg-light);
    opacity: 0.85;
}

.bg-color-corp{
    background: var(--corp-color-bg-light);
}

.bg-grad-vert{
    background-image: url(img/cwhgkbnu-grad-vert.png);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: contain;
}

.bg-grad-hor{
    background-image: url(img/cwhgkbnu-grad-hor.png);
    background-position: left top;
    background-repeat: repeat-y;
    background-size: contain;
}

.firm-border{
    border-width: 1px;
    border-style: solid;
    border-color: var(--corp-color-bg-light);
}



.without-side-padding{
    padding-right: 0px  !important;
    padding-left: 0px  !important;
}

.navbar-header-left-padding{
    padding-left: 15px;
}

.navbar-default .navbar-brand{
    color: var(--corp-color);
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a{
    color: var(--corp-color);
}

.coyright-footer{
    text-align: left;
    color: var(--corp-color);
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.container-hi{
    min-height: 768px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: auto;
}

.container-control-menu{
    min-height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: auto;
}


.def-margin{
    margin-top: 20px;
}

footer {
    /* position: absolute;
    top: 100%; */
    width: 100%;
    clear: both;
}

.well {
    background: var(--corp-color-bg-light);
}

div.btn-group{
    margin-top: 25px;
    margin-bottom: 10px;
}

div.btn-group a{
    margin-left: 10px;
    margin-right: 10px;
}

.required:before{
    content: "*";
    color: red;
    font-size: 1.5em;
    padding-right: 5px;
}

.content-container{
    min-height: 760px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

.async-pwd{
    border: 2px solid red;
}

.navbar{
    margin-bottom: 0px;
}

.article{
    margin: 5px;
}

div.btn-group.langmenu{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--corp-color);
}

div.btn-group.langmenu{
    margin-top: 10px;
    margin-bottom: 10px;
}

.flag-marging{
    margin-right: 5px;
}

.standart-margin{
    margin-top: 20px;
}

.big-line{
    line-height: 200%
}

.price-table{
    width: 100%;
}

.price-table>tbody>tr>td{
    border: 1px solid #d6e9c6;
    padding: 5px;
}

.price-table>tbody>tr>td.price{
    text-align: right;
}

.price-table>tbody>tr:nth-child(even){
    background: #dff0d8;
}

.price-table>thead>tr>th{
    border: 1px solid #d6e9c6;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background: #dff0d8;
    color: #3c763d;
}

.gliph-margin{
    margin-right: 5px;
}

.success-bg{
    background: #d6e9c6;
}

.logout-btn{
    padding-left: 5px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.tab-task-head{
    width: 100%;
}

.task-head{
    border:1px solid #255625;
}

.task-head-spanned{
    text-align: center;
    font-weight: bold;
}

.task-option-value{
    
}

.task-params{
    padding-left: 5px;
    font-size: smaller;
    padding-top: 3px;
    padding-bottom: 3px;
}

.date-title{
    font-family: "Arial Narrow";
    font-size: 11pt;
    font-weight: bolder;
    text-align: center;
}

.log-title{
    clear: both;
    overflow: auto;
    margin-bottom: 2px; 
    border-bottom: 1px solid #3c763d;
    border-top: 1px solid #3c763d;    
}

.date-holder{
    float: left;
    /*border: 1px solid black;*/
    width: 40px;
    height: 50px;
    border-right: 1px solid #3c763d;
    border-left: 1px solid #3c763d;
}

.post-title{
    float: left;
    /*border: 1px solid black;*/
    height: 50px;
}

.log-title-label{
    font-family: "Arial Narrow";
    font-size: 11pt;
    font-weight: bolder;
    text-align: left;
    margin-left: 3px;
    margin-right: 3px; 
    width: 30px;
}

.log-caption-label{
    font-family: "Arial Narrow";
    font-weight: 200;
    font-size: 11pt;
    text-align: left;
    margin-left: 10px;
}

.log-title-block{
    line-height: 0.15;
}

.log-content{
    font-size: 12pt;
    font-weight: 200;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.log-add{
    float: right;
    width: 30px;
    height: 50px;
    font-size: 24pt;
    text-align: center;
    border-right: 1px solid #3c763d;
    border-left: 1px solid #3c763d;
}

.log-add-a:hover{
    text-decoration: none;
    cursor: pointer;
}

form.edit-post{
   border: 1px solid #3c763d;
   padding: 10px;
   margin-top: 5px;
   margin-bottom: 5px;
}

form.edit-post label{
    font-size: 12pt;
    font-weight: bolder;
}

form.edit-post div>textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 50px;
}

.mcm-hidden{
    display: none;
}

.mcm-shown{
    display: block;
}

/* ADMIN */
.admin-container{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.admin-sbmenu-lmarg{
    margin-left: 50px;
}

.admin-sbmenu-href-bpadd{
    margin-bottom: 10px;
}

.admin-sbmenu-container{
    margin-bottom: 0px;
}

.admin-row-correct{
    margin-left: 0px;
    margin-right: 0px;
}

.admin-row-correct-vert{
    margin-top: 0px;
    margin-bottom: 0px;
}

.admin-header-plugin-display{
    display: inline;
}

.admin-header-plugin-container{
    margin-top: 15px;
}

.admin-header-plugin-font{
    color: var(--corp-color);
    font-weight: bold;
}

.std-col-margin{
    margin-top: 20px;
}

.unmargin-top{
    margin-top: 0px;
}

.centred{
    text-align: center;
}

.common-ctl-table{
    width: 100%;
}

.common-ctl-table>thead>tr>th{
    border: 1px solid #d6e9c6;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0px 5px 0px;
}

.common-ctl-table>tbody>tr>td{
    border: 1px solid #d6e9c6;
    padding: 5px 5px 5px 10px;
}

.common-ctl-table>tbody>tr>td.centered{
    border: 1px solid #d6e9c6;
    padding: 5px;
    text-align: center;
}


.common-ctl-table>tbody>tr:nth-child(even){
    background: #dff0d8;
}

.user-ctl-descr-form{
    border: 1px solid #3c763d;  
    padding: 10px;
    margin-bottom: 10px;
}

.user-ctl-descr-block{
    border-left: 1px solid #3c763d;  
}

.user-ctl-btn-block{
    border-bottom: 1px solid #3c763d; 
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.user-ctl-btn-add{
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.user-add-form-holder{
    clear: both;
    margin-top: 5px;
}

.user-add-form{
    margin-left: 15px;
    margin-right: 15px;
}

.usr-add-title-holder{
    text-align: center;
}

.usr-add-title{
    font-weight: 500;
    text-align: center;
    color: #ff0000;
}

.edit-btn-container{
    padding-top: 5px;
}

.flag_name{
    display: inline;
    margin-left: 10px;
    font-weight: 500;
}

.bootstrap-select.btn-group{
    margin-top: 0px;
}

select#is_active{
    display: block;
}

select#is_archive{
    display: block;
}

.correct_inline{
    display: inline;
}

.news_content{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

.footer_content{
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
}

.hihglite{
    border: 1px solid red;
}

.news-container{
    min-height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-form{
    margin-top: 15px;
}

.footer_preview{
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    overflow: auto;
    margin-right: 20px;
}