:root{
    --corp-color : #F5C542;    
    --corp-color-bg-light : #619d97;
    --corp-color-bg-dark : #619d97;    
}

.color-corp-soft{
    color: var(--corp-color);
    opacity: 0.75;
}

.bg-color-corp-soft{
    background: var(--corp-color-bg-light);
    opacity: 0.85;
}

.bg-grad-vert{
    background-image: url(img/cwhgkbnu-grad-vert.png);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: contain;
}

.bg-grad-hor{
    background-image: url(img/cwhgkbnu-grad-hor.png);
    background-position: left top;
    background-repeat: repeat-y;
    background-size: contain;
}


.def-color-bg{
    background: -moz-linear-gradient(top, #619d97 0%, #42847e 50%, #28736c 51%, #29776f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #619d97), color-stop(50%, #42847e), color-stop(51%, 		#28736c), color-stop(100%, #29776f));
    background: -webkit-linear-gradient(top, #619d97 0%, #42847e 50%, #28736c 51%, #29776f 100%);
    background: -o-linear-gradient(top, #619d97 0%, #42847e 50%, #28736c 51%, #29776f 100%);
    background: -ms-linear-gradient(top, #619d97 0%, #42847e 50%, #28736c 51%, #29776f 100%);
    background: linear-gradient(to bottom, #619d97 0%, #42847e 50%, #28736c 51%, #29776f 100%);    
}

.def-color-bg-light{
    background: -moz-linear-gradient(top, #619d97 0%, #42847e 50%, #42847e 60%, #42847e 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #619d97), color-stop(50%, #42847e), color-stop(60%,#42847e), color-stop(100%, #42847e));
    background: -webkit-linear-gradient(top, #619d97 0%, #42847e 50%, #42847e 60%, #42847e 100%);
    background: -o-linear-gradient(top, #619d97 0%, #42847e 50%, #42847e 60%, #42847e 100%);
    background: -ms-linear-gradient(top, #619d97 0%, #42847e 50%, #42847e 60%, #42847e 100%);
    background: linear-gradient(to bottom, #619d97 0%, #42847e 50%, #42847e 60%, #42847e 100%);    
}

.def-color-bg-dark{
    background: -moz-linear-gradient(top, #28736c 0%, #28736c 50%, #29776f 60%, #29776f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #28736c), color-stop(50%, #28736c), color-stop(60%,#29776f), color-stop(100%, #29776f));
    background: -webkit-linear-gradient(top, #28736c 0%, #28736c 50%, #29776f 60%, #29776f 100%);
    background: -o-linear-gradient(top, #28736c 0%, #28736c 50%, #29776f 60%, #29776f 100%);
    background: -ms-linear-gradient(top, #28736c 0%, #28736c 50%, #29776f 60%, #29776f 100%);
    background: linear-gradient(to bottom, #28736c 0%, #28736c 50%, #29776f 60%, #29776f 100%);    
}

.without-side-padding{
    padding-right: 0px  !important;
    padding-left: 0px  !important;
}

.navbar-header-left-padding{
    padding-left: 15px;
}

.navbar-default .navbar-brand{
    color: var(--corp-color);
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a{
    color: var(--corp-color);
}

.coyright-footer{
    text-align: left;
    color: var(--corp-color);
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.container-hi{
    min-height: 1024px;
}

footer {
    position: absolute;
    top: 100%;
    width: 100%;
}

.well {
    background: var(--corp-color-bg-light);
}

div.btn-group{
    margin-top: 25px;
    margin-bottom: 10px;
}

div.btn-group a{
    margin-left: 10px;
    margin-right: 10px;
}
