:root{
    --corp-color : #F5C542;    
    --corp-color-bg-light : #619d97;
    --corp-color-bg-dark : #619d97;    
}

body{
    height: 100%;
}

.color-corp-soft{
    color: var(--corp-color);
    opacity: 0.75;
}

.color-corp{
    color: var(--corp-color);
}

.bg-color-corp-soft{
    background: var(--corp-color-bg-light);
    opacity: 0.85;
}

.bg-color-corp{
    background: var(--corp-color-bg-light);
}

.bg-grad-vert{
    background-image: url(img/cwhgkbnu-grad-vert.png);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: contain;
}

.bg-grad-hor{
    background-image: url(img/cwhgkbnu-grad-hor.png);
    background-position: left top;
    background-repeat: repeat-y;
    background-size: contain;
}

.firm-border{
    border-width: 1px;
    border-style: solid;
    border-color: var(--corp-color-bg-light);
}



.without-side-padding{
    padding-right: 0px  !important;
    padding-left: 0px  !important;
}

.navbar-header-left-padding{
    padding-left: 15px;
}

.navbar-default .navbar-brand{
    color: var(--corp-color);
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a{
    color: var(--corp-color);
}

.coyright-footer{
    text-align: left;
    color: var(--corp-color);
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.container-hi{
    min-height: 1024px;
}

footer {
    /* position: absolute;
    top: 100%; */
    width: 100%;
    clear: both;
}

.well {
    background: var(--corp-color-bg-light);
}

div.btn-group{
    margin-top: 25px;
    margin-bottom: 10px;
}

div.btn-group a{
    margin-left: 10px;
    margin-right: 10px;
}

.required:before{
    content: "*";
    color: red;
    font-size: 1.5em;
    padding-right: 5px;
}

.content-container{
    min-height: 760px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

.async-pwd{
    border: 2px solid red;
}